useDynLib(mritc)

export(readMRI, writeMRI, initOtsu, initProp, makeMRIspatial,
       rnormmix, emnormmix, mritc, mritc.em, mritc.icm, mritc.hmrfem,
       mritc.pvhmrfem, mritc.bayes, print.mritc, summary.mritc,
       plot.mritc, measureMRI)

importFrom("lattice", densityplot)
importFrom("misc3d", slices3d)
import(oro.nifti)
